<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Getting Started with Node on Heroku</h1>
    <p>This is a sample Node application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.</p>
    <% if(!logged) { %>
    <a type="button" class="btn btn-lg btn-primary" href="/login"><span class="glyphicon glyphicon-flash"></span> Log in with GitHub</a>
    <% } else { %>
      <span>You are logged in ! <a href="/logout">Log out</a></span>
    <% } %>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started with Node on Heroku</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <% items.forEach(function(repo) { %>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
              <%= repo.name %>
          </h3>
        </div>
        <div class="panel-body">
          <%= repo.description %>
          <br />
          <button class="btn btn-primary" onclick="star('<%= repo.full_name %>')">Star this repo !</button>
        </div>
      </div>
    </div>
    <% }); %>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>

<script>
  function star(repo){
      console.log(repo);
      $.ajax({
          url:'/star?repo='+repo,
          method: "GET",
          success: function(success){
              alert("Repo successfully starred !");
          },
          error: function(error){
              alert("Error starring this repo !");
          }
      })
  }
</script>

</body>
</html>
